<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>메인화면</title>
    <link href="/css/main.css" rel="stylesheet">
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css">
</head>

<body>
<div class="cylinder">
    <i class="bi bi-list" id="listIcon"></i>
    <img src="https://cdn-icons-png.flaticon.com/512/13611/13611575.png" class="mainLogo" alt="My Image">
    <div class="text">Tell</div>
</div>
<p class = "roundText">Start now!</p>
{{#firstPicture}}
    <div class="rounded-box">
        <a href="/speak?id={{id}}"><img src="{{picture}}" alt="Slide Image {{id}}">
    </div>
{{/firstPicture}}

<p class="boxText">For you!</p>

<div class="box">
    <div class="outer">
        <div class="inner-list">
            {{#pictures1}}
                <div class="inner">
                    <a href="/speak?id={{id}}"><img src="{{picture}}" alt="Slide Image {{id}}"></a>
                </div>
            {{/pictures1}}
        </div>
    </div>

    <div class="outer2">
        <div class="inner-list2">
            {{#pictures2}}
                <div class="inner2">
                    <a href="/speak?id={{id}}"><img src="{{picture}}" alt="Slide Image {{id}}"></a>
                </div>
            {{/pictures2}}
        </div>
    </div>

    <div class="outer3">
        <div class="inner-list3">
            {{#pictures3}}
                <div class="inner3">
                    <a href="/speak?id={{id}}"><img src="{{picture}}" alt="Slide Image {{id}}"></a>
                </div>
            {{/pictures3}}
        </div>
    </div>

    <div class="outer4">
        <div class="inner-list4">
            {{#pictures4}}
                <div class="inner4">
                    <a href="/speak?id={{id}}"><img src="{{picture}}" alt="Slide Image {{id}}"></a>
                </div>
            {{/pictures4}}
        </div>
    </div>

    <div class="button-list">
        <button class="button-left">◀</button>
        <button class="button-right">▶</button>
    </div>
    <div class="button-list2">
        <button class="button-left2">◀</button>
        <button class="button-right2">▶</button>
    </div>
    <div class="button-list3">
        <button class="button-left3">◀</button>
        <button class="button-right3">▶</button>
    </div>
    <div class="button-list4">
        <button class="button-left4">◀</button>
        <button class="button-right4">▶</button>
    </div>
</div>

<div id="sideMenu">
    <ul>
        <li>Item 1</li>
        <li class="faceChat">화상 채팅</li>
        <li>노트 테스트</li>
        <li class="speakTest">스피킹 테스트</li>
    </ul>
</div>

</body>
</html>
