<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/css/speak.css" rel="stylesheet">
    <script src="/js/speak.js"></script>
</head>
<body>
<div class="content">
    <div id="image-content">
        <img src="/image/tmp2.jpg" alt="Loading...">
    </div>
    <div id="page-content">
        <!-- 페이지 내용이 여기에 동적으로 표시됩니다 -->
    </div>
    <button id="check-button">🎙️</button>
</div>
<button class="button-left">◀</button>
<button class="button-right">▶</button>
<div class="pagination">
    <!-- 페이지 번호가 여기서 동적으로 추가됩니다 -->
</div>


<div id="submit-section" class="hidden">
    <p>Do you want to submit it?</p>
    <button id="submit-button">Submit</button>
</div>
</body>
</html>