<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/css/speak.css" rel="stylesheet">
    <script src="/js/speak.js"></script>
</head>
<body>
<div id="data" data-picture="{{picture}}" data-text="{{text}}"></div>

<div class="content">
    <div id="image-content">
        <img id="img" src="" alt="Loading...">
    </div>
    <div id="page-content">
        <p id="text"></p>
    </div>
    <button id="sound-button">🔊</button>
    <button id="check-button">🎙️</button>
    <p id="test"></p>
</div>

<img id="buffering" src="/image/buffering.gif" style="display: none;" alt="Loading...">
<div id="nono">
    <img id="note" src="/image/note.png" alt="Loading...">
        <div id = "noteDiv">
            <p id ="pageStatus">[Page Status]</p>
            <br>
            <p id ="text1">Page 1 : </p>
            <p id ="text2">Page 2 : </p>
            <p id ="text3">Page 3 : </p>
            <p id ="text4">Page 4 : </p>
            <p id ="text5">Page 5 : </p>
            <p id ="text6">Page 6 : </p>
            <p id ="text7">Page 7 : </p>
            <p id ="text8">Page 8 : </p>
            <p id ="text9">Page 9 : </p>
        </div>
    <div class="pagination">
        <!-- 페이지 번호가 여기서 동적으로 추가됩니다 -->
    </div>
    <div id="submitDiv" class="hidden">
        <button id="submit-button">Submit</button>
    </div>
</div>
<button class="button-left">◀</button>
<button class="button-right">▶</button>



<div id="submit-section" class="hidden">
    <div class="content2">
        <p id="result-page">TEST RESULT PAGE</p>

        <div class="page-label">-page 1-</div>
        <div id="image-content2">
            <img id="imgA" src="/image/graph/blank.png" alt="Loading...">
            <img id="img3" src="/image/graph/1.1.png" alt="Loading...">
        </div>

        <div class="page-label">-page 2-</div>
        <div id="image-content2">
            <img id="imgB" src="/image/graph/blank.png" alt="Loading...">
            <img id="img4" src="/image/graph/1.2.png" alt="Loading...">
        </div>

        <div class="page-label">-page 3-</div>
        <div id="image-content2">
            <img id="imgC" src="/image/graph/blank.png" alt="Loading...">
            <img id="img5" src="/image/graph/1.3.png" alt="Loading...">
        </div>

        <div class="page-label">-page 4-</div>
        <div id="image-content2">
            <img id="imgD" src="/image/graph/blank.png" alt="Loading...">
            <img id="img6" src="/image/graph/1.4.png" alt="Loading...">
        </div>

        <div class="page-label">-page 5-</div>
        <div id="image-content2">
            <img id="imgE" src="/image/graph/blank.png" alt="Loading...">
            <img id="img7" src="/image/graph/1.5.png" alt="Loading...">
        </div>

        <div class="page-label">-page 6-</div>
        <div id="image-content2">
            <img id="imgF" src="/image/graph/blank.png" alt="Loading...">
            <img id="img8" src="/image/graph/1.6.png" alt="Loading...">
        </div>

        <div class="page-label">-page 7-</div>
        <div id="image-content2">
            <img id="imgG" src="/image/graph/blank.png" alt="Loading...">
            <img id="img9" src="/image/graph/1.7.png" alt="Loading...">
        </div>

        <div class="page-label">-page 8-</div>
        <div id="image-content2">
            <img id="imgH" src="/image/graph/blank.png" alt="Loading...">
            <img id="img10" src="/image/graph/1.8.png" alt="Loading...">
        </div>

        <div class="page-label">-page 9-</div>
        <div id="image-content2">
            <img id="imgI" src="/image/graph/blank.png" alt="Loading...">
            <img id="img11" src="/image/graph/1.9.png" alt="Loading...">
        </div>

    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/mustache@4.2.0/mustache.min.js"></script>
</body>
</html>