<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main Page</title>
</head>
<body>
main page 안녕
<!--너무 당연한 이야기지만 동일한 서버 클래스에서 session 값을 불러와 model 에 넣어줘야 사용 가능 (아니면 오류 뜸)-->
<hr>
{{id}}
{{role}}
</body>
</html>